@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


html,body
{
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#upper_box{
    height:100vh;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 1200;
    width:100%;
    fill: #000000;
    display:flex;
    flex-direction: row;
   
    background-color:#ffffff;
   /* border-bottom: 2px solid rgb(221, 212, 212);*/
    box-shadow: 0px 1px 2.5px 1px  rgb(199, 199, 199);
}

#img_image{
    width:85px;
}

@media only screen and (min-width: 768px){
#right_side{
    padding: 14px;
    width:50%;
}
#left_side{
   
    width:50%;
    }
#imgdiv{
    position: relative;
    left:10vw;
}


#right-side{
    position:absolute;
    left:18.4vw;
    right:5vw;
    display: flex;
    justify-content:center;
    width:100%


}

.button{
    margin-top: 7px;
    margin-left: 17px;
    margin-right:17px;
    
    font-family: 'Bebas Neue', cursive;
  
   font-size: 20px;
    font-weight: 100;
    color: #263146;
}
.button:hover {
    color: #44577c;
  }
  #mobile_bar{
      display: none;
      
  }
}
@media only screen and (max-width: 767px){
   #right-side{
       display: none;
   }
   #left_side{
   
    width:50%;
    }
   #mobile_bar{
    width:50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#menu{
    font-size: 35px;
    padding-right: 25px;
}
#img_image{
    
    width:85px;
}

}
  @media only screen and (max-width: 767px){
    #centerboth {
        position:absolute;
        top:0px;
        background-image: url(/res/background.jpg);
           background-size: cover;
           background-position: center;
           display: flex;
           flex-direction: row;
          justify-content:flex-start;
           align-items: center;
           width: 100vw;
           height:100vh;
       }
  }

  @media only screen and (min-width: 768px){
#centerboth {
 position:absolute;
 top:0px;
    background-image: url(res/background.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
   justify-content:center;
    align-items: center;
    width: 100vw;
    height:100vh;
}
  }
#left_col{
    /*background-color: #293b52;
    width : 50%;
    height:100%;
  padding: 14px;*/
  
  
}
#right_col{
   /* display:flex;
    background-color:#f8d16c;
    width : 50%;
    height:100%;
    padding: 14px;*/
   
}
@media only screen and (min-width: 768px){
#left{

/*position:relative;
top:2000px;
right:0px;
margin-left: 45px;*/
width:40%;
   
}
}

@media only screen and (max-width: 767px){
    #left{

        /*position:relative;
        top:2000px;
        right:0px;
        margin-left: 45px;*/
        margin:15px;
           
        }
    
}
@media only screen and (min-width: 768px){
#right{
   /* position:relative;
    top:150px;
    margin-right:30px;*/
    width:40%;
}
.para{
    color: #ffffff;
    padding-right: 1.2em;
    font-size: 20px;
     line-height: 2;
    margin-top: 1em;
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
}
@media only screen and (max-width: 767px){
    #right{
        display:none;
       /* position:relative;
        top:150px;
        margin-right:30px;
        width:40%;*/
    }
    .para{
        color: #ffffff;
        padding-right: 1.2em;
        font-size: 17px;
         line-height: 2;
        margin-top: 1em;
        font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    }
    }
#image{
    position:relative;
    left: 120px;
    width:30vw;
    height:auto;
    
}

.head{
    font-size: 60px;
    line-height: 90px;
    color: #f8d16c;
    display: inline;
    font-family: 'Playfair Display', serif;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 80%, transparent 100% )
    
}

.computer_image{
    width:450px;
}


/*project css*/
@media only screen and (min-width: 768px){
#projects{
    margin-left: 98px;
    margin-right: 98px;
   
    display: flex;
    flex-direction: column;
   justify-content:center;
    align-items: center;
    }
    .fourg{
        padding: 14px;
        margin:0px 25px;
        width:200px;
       
    }
    #fourgrps{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
         flex-wrap: wrap;
         align-content:center;
    }
}

@media only screen and (max-width: 767px){
    #projects{
        
        display: flex;
        flex-direction: column;
       justify-content:center;
        align-items: center;
        }
        .fourg{
            padding: 14px;
            margin:0px 25px;
            
            
           
        }
        #fourgrps{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
             
             align-content:center;
             width: 100%;
        }

}

#project_heading{
    
}
#projectformat{
    font-family: 'Playfair Display';
    font-weight: 700;
    margin: 16px 0px;
    padding:0px 25.6px 9.6px;
    border-bottom: 0.2em #f8d16c solid;
}
#image2{
    width:300px;
}


.group{
   display:flex;
    padding: 14px;
    margin:28px 0px;
  position:relative;
  text-decoration: none;

  
    
}
.grpheading{
    color: #000000;
    display: inline;
    font-family: 'Playfair Display', serif;
    
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    right:0px;
   top:0px
}
.cards{
    display:flex;
    flex-direction: row-reverse;
   
}
.nums{
   font-family: 'Bebas Neue', cursive;
   
   font-weight: lighter;
    color:  rgba(248, 209, 108, 0.5);
    font-size:210px;
    height:126.6px;
    width:77px;
    
    
}
.right-side{
    display:flex;
    flex-direction: column;
   justify-content:flex-end ;
    position: absolute;
    right: 0px;
    top:100px
}
.description{
   margin-top: 10px;
   top:35px;
    right:0px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color:#999999;
    
}

#des{
    text-align: right;
    font-size: 14px;
}
#viewmore{
    margin-top: 50px;
padding: 14px;
}
#view {
   
    
    display: inline-block;
    padding: 5.5px 18px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border: 2px solid #263146;
    color: #263146;
    cursor: pointer;
}
#view:hover {
    background-color:  #fad985;
  }
  /*css for blogs*/

  #blogs{
    background-color: #ebebeb;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
  #blog_heading{
   
        font-family: 'Playfair Display';
        font-weight: 700;
        margin: 16px 0px;
        padding:0px 25.6px 9.6px;
        border-bottom: 0.2em #f8d16c solid;
    
  }
  @media only screen and (min-width: 768px){
  #photo_text{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
  }
  #blog_image{
      width:300px;
  }
  #leftimage{
      padding: 14px;
  }
  #rightpara{
    padding: 14px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #descr{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 23px;
  }
}
@media only screen and (max-width: 767px){
    #photo_text{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    #blog_image{
        width:300px;
    }
    #leftimage{
        padding: 14px;
    }
    #rightpara{
      padding: 14px;
      
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    #descr{
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      line-height: 23px;
    }
}

  #read_button_at_bottom{
    margin-top: 5px;
    padding: 14px;
}
#read_button{
   
    
    display: inline-block;
    padding: 5.5px 18px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border: 2px solid #263146;
    color: #263146;
    cursor: pointer;
}
#read_button:hover {
    background-color:   #fad985;
  }
  /*css for contact us*/
  @media only screen and (min-width: 768px){
  #contactus{
    background-color: #293b52;
    width: 100%;
      display:flex;
      position:relative;
      flex-direction: row;
      justify-content: center;
      color:#ffffff;
      flex-wrap: wrap-reverse;
  }
  .contact_about{
    padding: 14px;
    width:40%
}
#conct{
    padding-top: 28px;
    font-family: 'Bebas Neue';
    font-weight: 100px;
    font-size: 21px;
}
#AboutUs{
    padding-top: 28px;
    font-family: 'Bebas Neue';
    font-weight: 100px;
    font-size: 21px;
  }
  #aboutpara{
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#dddddd;
   
}
}
@media only screen and (max-width: 767px){
     #contactus{
    background-color: #293b52;
       width: 100%;
      display:flex;
      position:relative;
      flex-direction: column-reverse;
      justify-content: flex-start;
      color:#ffffff;
   
  }
  .contact_about{
    margin: 15px;
    width:100%;
}
#conct{
    padding-top: 5px;
    font-family: 'Bebas Neue';
    font-weight: 100px;
    font-size: 21px;
}
#AboutUs{
    padding-top: 5px;
    font-family: 'Bebas Neue';
    font-weight: 100px;
    font-size: 21px;
  }
  #aboutpara{
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#dddddd;
    margin-right: 7.5px;
    padding-right: 20px;
}
}
  #left_side1{
  }
  .phone_email{
      margin-right: 15px;
      color:#ffffff !important
  }
  .photo_of_social_media{
    margin-right: 18px;
  }
  .photo_of_social_media:hover{
     color:#f8d16c;
  }
  .address{
 line-height: 1.7;
 font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    color:#dddddd;
 
  }
  .phone{
      color:#f8d16c;
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      font-size: 14px;
  }
 
  

  #footer{
      position: relative;
    width: 100%;
    background-color: #263146;
    color: #ffffff;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 6%;
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 768px){
  #footerp{
     position:absolute;
    left:8.5vw;
    width: 100%;
    background-color: #263146;
    color: #ffffff;
    margin-left: auto!important;
    margin-right: auto!important;
    min-height: 6%;
    display: flex;
    align-items: center;
}
}
@media only screen and (max-width: 767px){
    #footerp{
        position:absolute;
       left:1.5vw;
       width: 100%;
       background-color: #263146;
       color: #ffffff;
       margin-left: auto!important;
       margin-right: auto!important;
       min-height: 6%;
       display: flex;
       align-items: center;
   }
}
  