@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
#centerboth {
 display : flex;
background-image: url(background.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
   justify-content:center;
    align-items: center;
    width: 100vw;
    height:100vh;
}
#left_col{
    width : 50vw;
  padding: 14px;
}
#right_col{
    display:flex;
    width : 50vw;
    padding: 14px;
   
}
#left{
    margin-left: 30px;
}
#right{
    margin-right:30px;
}

#image{
    width:44vw;
    height:auto;
}

.head{
    font-size: 4.3em;
    color: #f8d16c;
    display: inline;
    font-family: 'Playfair Display';
}
.para{
    color: #ffffff;
    padding-right: 1.2em;
    font-size: 20px;
    line-height: 2;
    margin-top: 1em;
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.computer_image{
    width:450px;
}


/*project css*/

#projects{
    margin-left: 98px;
    margin-right: 98px;
   
    display: flex;
    flex-direction: column;
   justify-content:center;
    align-items: center;
    
}
#project_heading{
    
}
#projectformat{
    font-family: 'Playfair Display';
    font-weight: 700;
    margin: 16px 0px;
    padding:0px 25.6px 9.6px;
    border-bottom: 0.2em #f8d16c solid;
}
#image2{
    width:300px;
}
#fourgrps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     flex-wrap: wrap;
     align-content:center;
}
.fourg{
    padding: 14px;
    margin:0px 25px;
    width:200px;
   
}
.group{
   display:flex;
    padding: 14px;
    margin:28px 0px;
  position:relative;
  text-decoration: none;

  
    
}
.grpheading{
    color: #000000;
    display: inline;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    right:0px;
   top:0px
}
.cards{
    display:flex;
    flex-direction: row-reverse;
   
}
.nums{
   font-family: 'Bebas Neue', cursive;
   font-weight: lighter;
    color:  rgba(248, 209, 108, 0.5);
    font-size:210px;
    height:126.6px;
    width:77px;
    
    
}
.right-side{
    display:flex;
    flex-direction: column;
   justify-content:flex-end ;
    position: absolute;
    right: 0px;
    top:100px
}
.description{
   margin-top: 10px;
   top:35px;
    right:0px;
    font-family: 'Lato', sans-serif;
    color:#999999;
    
}

#des{
    text-align: right;
    font-size: 14px;
}
#viewmore{
    margin-top: 20px;
padding: 14px;
}
#view {
   
    
    display: inline-block;
    padding: 10.5px 18px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border: 2px solid #263146;
    color: #263146;
    cursor: pointer;
}
#view:hover {
    background-color:  #f8d16c;;
  }